/* Import URL if needed */
/* @import url(''); */

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.nav-item
{
	display: flex;
    align-items: center;
}
.navbar {
    background-color: antiquewhite !important;
}
.navbar a
{
	color: black;
}
.navbar li a:hover {
    color: red ;
}
.navbar .btn-secondary{
    font-size: 80%;
}
.carousel-item img {
    width: 100%;
}
.navbar-toggler{
    background-color: antiquewhite !important;
}
.carousel-caption {
    top: 20%;
}

.carousel-caption h1 {
    font-size: 250%;
    text-transform: uppercase;
    text-shadow: 7px 7px 7px black;    
}

.carousel-caption h3 {
    font-size: 150%;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;    
}

.btn-primary {
    background-color: yellow;
    border: 2px solid white;
}

.btn-primary:hover {
    background-color: rgb(221, 221, 7);
    border: 2px solid white;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.welcome hr {
    border-top: 2px solid rgba(62, 44, 100, 0.6);
    width: 95%;    
    margin-bottom: 2rem;
}

.fa-react {
    color: #81D8F7;
}

.fa-angular {
    color: rgb(177, 43, 55);
}

.fa-css3 {
    color: #D76537;
}

.fa-react, .fa-angular, .fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
}

.social a {
    font-size: 3em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

/* Media Queries */
/* Media Queries để thay đổi menu khi màn hình nhỏ */
@media(max-width: 100000px){
    .search-input.active{ 
        width:309.5px;
    }  
    .navbar{
        height: 8%;
    }
}
@media (max-width: 1096px){
    .nav-item{
        font-size: 16px;
    }
    .search-input{
        font-size: 16px;
    }
    .navbar-branch img{
        font-size: 10px;
    }
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 160%;        
    }
    .carousel-caption .btn {
        font-size: 120%;        
    }
}
@media (max-width: 992px) {
    .nav-item{
        font-size: 15px;
    }
    .search-input{
        font-size: 15px;
    }
    .search-input.active{
        width: 183px;
    }
    .btn-search {
        font-size: 14px;
    }
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 160%;        
    }
    .carousel-caption .btn {
        font-size: 120%;        
    }
}
@media (max-width: 800px){
    .nav-item{
        font-size: 15px;
    }
    .search-input{
        font-size: 14px;
    }
    .search-input.active{
        width: 153px;
    }
    .btn-search {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 220%;
    }
    .carousel-caption h3 {        
        font-size: 140%;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {        
        font-size: 95%;
        padding: 8px 14px;
    }
    .navbar-toggler{
        font-size: 12px;
        margin-bottom: 40px;
    }
    .navbar-branch img{
        height: 30px;
        margin-bottom: 40px;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 10%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h3 {        
        font-size: 110%;        
    }
    .carousel-caption .btn {        
        font-size: 90%;
        padding: 4px 8px;
    }    
}
.btn-group{
    gap: 5px;
}
.btn-secondary {
    background-color: wheat !important;
    border: none !important;
}

.dropdown-menu.show {
    background-color: white !important;
}

.btn-secondary:focus, .btn-secondary:active {
    outline: none;
    box-shadow: none;
    border: none;
}
/* Search Input */
.search-input {
    width: 0;
    padding: 0;
    opacity: 0;
    transition: width 1s ease, opacity 1s ease;
    border: none;
    visibility: hidden; /* Hidden when not active */
	height: 50%;
        
}

.search-input.active {
    padding: 0.375rem 0.75rem;
    opacity: 1;
    visibility: visible; /* Visible when active */
    outline: none;
    box-shadow: none;
    border: none;
    position: relative;
}

.btn-search {
	position: relative; /* Để kích thước có thể được căn chỉnh */
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
    color: black;
}

.btn-search i {
    color: black; 
    font-size: 1em; 
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

/* Hover effects for search button */
.btn-search:hover i {
    transform: scale(1.2); 
}

.btn-search:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.btn-search:active {
    color: white;
    background-color: transparent!important;
    outline: none!important;
    box-shadow: none!important;
    border: none!important;
}

.btn-search:hover {
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}
